@import "components/schedule";
@import "components/courseLibrary";


.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

}

.library {
    flex-grow: 2;
    width: 62%;
    padding: 6rem;
    z-index: 1;
    height: 100vh;
   
}

.library_header {
    border: none;
    border-left: 1px solid #487bce;
    color: #487bce;
    padding: 0 25px;
    font-family: Alegreya, serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 47px;
}

.schedule {
    flex-grow: 1;
    width: 38%;
    height: 100vh;
    text-align: center;
    padding: 12rem 6rem;
    background: linear-gradient(118.95deg, #6F48CE 0%, #32CBE8 100%);

}

.schedule_header {
    border: none;
    border-left: 1px solid white;
    color: white;
    font-size: 20px;
    font-family: "Alegreya, serif";
    line-height: 27px;
}

ul {
    list-style-type: none;
    margin: 0 25px;
    // padding: 0;
    width: 120%;
}

ul li {
    margin: 10px 0;
    padding: 15px, 25px, 16px;
    }

.course_description {
    width: 60%;
    padding-top: 25px;

}

.course_title {
    color: #4d4d4d;
    font-family: Lato;
    font-size: 18px;
}

.course_description-title {
    color: #487bce;
    font-family: Alegreya, serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;

}


.show-content {
    display: block;
}

.hide-content {
    display: none;
}